@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'pretendard';
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    background-repeat: no-repeat;
    }

:root {
    /* basic color */
    --white-color: #EFEFEF;
    --gray1-color: #C9C9C9;
    --gray2-color: #A2A2A2;
    --gray3-color: #757575;
    --gray4-color: #505050;
    --header-color: #1E1F21;
    --black-color: #18191A;
    --footer-color: #1F2021;

    /* accent color */
    --purple-color: #091AD0;
    --light-purple-color: #6277ff;
    --red-color: #f0443b;
    --sky-color: #42BCCF;
    --green-color: #2ED3B4;
    --orange-color: #E88F27;

    /* padding, margin */
    --whole-margin: 0 24.5rem;
    --whole-padding: 0 24.5rem;
    --basic-margin: 1.5rem;
    --basic-padding: 1.5rem;

    /* font-size */
    --font-large: 2rem;
    --font-medium: 1rem;
    --font-regular: 0.9rem;
    --font-small: 1;
    --font-micro: 2;

    /* Animation */
    --animation-duration: 200ms;
}

/* 스크롤 색상 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray3-color);
    border-radius: 20px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: #1F2021;
    border-radius: 20px;
}


/* 백그라운드 이미지는 cover로 하면 대부분 반응형 가능 
속성 한번에 쓰려면,
background: center/cover no-repeat url('')
이미지 사이즈 일정하게 하려면, 
.img {
    max-width: 100%;
    max-height: 100%; */

/* hover시 부드럽게 변하게 하는거 
transition: background-color(all) 300ms linear;
 */

/* position 부모가 Relative */

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
}

.wrapper {
    width: 100%;
    height: 100%;
}

/* header */
#navbar {
    font-weight: 500;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 5rem;
    width: 100%;
    z-index: 100000;
    position: fixed;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
}

.navbar_logo a {
    color: var(--white-color);
}

.navbar_logo span {
    color: var(--green-color);
}

.navbar_menu {
    display: flex;
}

.navbar_menu a:hover {
    color: var(--green-color);
    cursor: pointer;
}

.navbar_menu .active {
    color: var(--green-color);
}

.navbar_menu_item {
    margin-left: var(--basic-margin);
    color: var(--white-color);
}

/* 컨텐츠 묶기 */
main {
    padding-top: 56px;
    overflow-y: auto;
    width: 100%;
}

/* footer */
footer {
    padding: 3rem 0;
    background-color: var(--footer-color);
    text-align: center;
    font-weight: 200;
    color: var(--gray1-color);
}

footer h1 {
    color: var(--white-color);
}

footer h1 span {
    color: var(--green-color);
}

.footer_info {
    margin: 1.5rem 0;
}

.footer_info span:nth-child(odd) {
    color: var(--gray2-color);
    margin-right: 0.5rem;
    font-weight: 300;
}

.footer_info span:nth-child(2) {
    margin-right: 2rem;
}

.footer_info span:nth-child(2n) {
    font-weight: 300;
}

.copyright {
    font-size: 0.9rem;
}

/* Section */
.section {
    text-align: center;
    margin: auto;
    width: 100%;
}

/* intro */
#intro {
    /* background: url('images/home_background.png') center/cover no-repeat; */
    /* height: 1016px; */
}

#intro strong {
    font-weight: 500;
}

#intro p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--white-color);
    padding: 440px 0;
    line-height: 1.4;
}

#intro p span {
    font-weight: 600;
    color: var(--green-color);
}

/* about me */
#about {
    background: url('images/about.png') center/cover no-repeat;
    height: 725px;
}

/* skill */
#skill {
    background: url('images/skill.png') center/cover no-repeat;
    height: 630px;
}

/* work */
#works {
    padding: 4rem 0 8rem 0;
    width: 1200px;
}

.work_project {
    display: flex;
    justify-content: space-between;
}

p.work_title {
    color: var(--white-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.work_project img {
    width: 378px;
}

.project {
    position: relative;
}

.project.invisible {
    display: none;
}

.project_description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0 ;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project_description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project_description h4 {
    color:  var(--white-color);
}

.project_description p {
    color:  var(--gray1-color);
    margin-bottom: 12px;
}

.project_description span {
    color:  var(--green-color);
    font-weight: 600;
}

.work_categories {
    margin-bottom: 40px;
}

.work_categories button {
    background: none;
    border: none;
    color: var(--gray3-color);
    font-size: 18px;
    padding: 3px 24px;
    cursor: pointer;
    border-radius: 20px;
}

.work_categories button.active {
    color: var(--green-color);
    border: 1px solid var(--green-color);
    border-radius: 20px;
}

.work_categories button:hover {
    /* background-color: #2E433E; */
    color: var(--white-color);
}

/* ARK header*/
.header {
    display: flex;
    padding-top: 20px;
    border-bottom: 1px solid #292A2D;
    position: fixed;
    background-color: #18191A;
    width: 100%;
    justify-content: center;
}

.header a {
    color: var(--gray2-color);
}

.header a.active {
    color: var(--white-color);
    font-weight: 500;
    border-bottom: 2px solid var(--white-color);
    padding: 0 0 8px 0;
    position: relative;
}

.header_item {
    margin-right: 1.5rem;
}

section.main {
    margin-top: 50px;
}

/* 아크 */
div.ark_main_first {
    background: url('images/ark_1.png') center/cover no-repeat;
    height: 3650px;
}

div.ark_main_second {
    background: url('images/ark_2.png') center/cover no-repeat;
    height: 5932px;
}

/* 도어락 */
div.smartDL_main_first {
    background: url('images/SmartDL_1.png') center/cover no-repeat;
    height: 3593px;
}

div.smartDL_main_second {
    background: url('images/SmartDL_2.png') center/cover no-repeat;
    height: 8888px;
}

/* 하이케어 */
div.hycare_main_first {
    background: url('images/Hycare_1.png') center/cover no-repeat;
    height: 1751px;
}

div.hycare_main_second {
    background: url('images/Hycare_2.png') center/cover no-repeat;
    height: 2131px;
}

div.hycare_main_third {
    background: url('images/Hycare_3.png') center/cover no-repeat;
    height: 3629px;
}

div.hycare_main_four {
    background: url('images/Hycare_4.png') center/cover no-repeat;
    height: 1071px;
}

div.hycare_main_five {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-color);
    padding: 9rem 0;
}

div.hycare_main_five p {
    color: var(--white-color);
    font-size: 2rem;
    margin-bottom: 3rem;
}

div.hycare_main_five video {
    border: 20px solid var(--black-color);
    border-radius: 20px;
}

div.hycare_main_six {
    background: url('images/Hycare_5.png') center/cover no-repeat;
    height: 4241px;
}